ul {
  display: flex;
  list-style: none;
}

li {
  padding: 12px;
}

div {
  width: 300px;
  height: 300px;
  margin: 40px;
  padding: 30px;
  position: relative;
}

.div1 {
  background-color: blue;
  left: 100px;
  top: 50px;
}

.div2 {
  background-color: brown;
  right: 150px;
  bottom: 320px;
}

.div3 {
  background-color: chartreuse;
  left: 180px;
  bottom: 240px;
}
